doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/list.css')
	body
		div.user
			h3(align= 'right') Welcome! 
				a(href='profile') #{user} &nbsp &nbsp &nbsp
		div.header
			div.title
				h1= title
			div.switch
				form(action='/map', method='get')
					button(class='btn btn-lg btn-primary btn-block', type='submit') Map
		div.body
			center
				div(align = 'center').filter
					form(action='/list', method='POST')
						input(type='text', name='filter', placeholder='Find Parks by Facility', autofocus)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
			div.content-block
				each park in parks
					div.park-block
						center
							h2
								a(href="../park/" + park.ID) #{park.Name} &nbsp @ &nbsp #{park.StreetNumber}, #{park.StreetName}
						
