doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/map.css')
		script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?    key=AIzaSyDMvMgiOHLXVDrYCADC-STyD97bWABCpXk &sensor=false &libraries=places")
		script(src='/javascripts/map.js')
	body
		script.
			window.onload = () => {
				var mapCanvas = document.getElementById('map');
				var googleMap = new Map(mapCanvas);
				var parksString = '!{parks}';
				var parks = JSON.parse(parksString);
				for(var i = 0; i < parks.length; i++) {
					googleMap.addParkMarker(parks[i]);
				}
				var elSearchBox = document.getElementById("search_box");
				var searchBox = new google.maps.places.SearchBox(elSearchBox);
				googleMap.setInput(elSearchBox);
				searchBox.addListener(
					'places_changed',
					() => {
						var places = searchBox.getPlaces()
						if (places.length == 0)
							return;
						places.forEach((place) => {
							googleMap.addLocationMarker(place.geometry.location);
						});
					}
				);
			};
		div.user 
			h3(align= 'right') Welcome! 
				a(href='profile') #{user}   &nbsp &nbsp &nbsp
		div.header
			div.title
				h1= title
			div.switch
				form(action='/list', method='get')
					button(class='btn btn-lg btn-primary btn-block', type='submit') List
		div(id="map")
		input(id="search_box" type="text")