doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/park.css')
	body
		div.user
			h3(align= 'right') Welcome! 
				a(href='../profile') #{user} &nbsp &nbsp &nbsp
		div.header
			h1 #{park.Name}
		div.body
			div.block
				li
					h2 Location: &nbsp #{park.StreetNumber} , &nbsp #{park.StreetName}
				li
					h2 Neighbourhood: &nbsp #{park.Neighbourhood.NeighbourhoodName}
				li
					h2 Hectare: &nbsp #{park.Hectare}
				li
					h2 Facilities: TODO
			each comment in park.Comments
				div.comment-header
						p(align="right") #{comment.By} &nbsp &nbsp 
				div.comment
					p #{comment.CommentString}
			div.comment-box
				form(action='/park/' + id, method='POST')
					textarea(type='text', name='comment', class='comment-input', placeholder='What are your thoughts?',required)
					button(class='btn btn-lg btn-primary btn-block', type='submit') Submit

			


