doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/park.css')
		script(type="text/javascript" src="https://ws.sharethis.com/button/buttons.js")
		script.
			stLight.options({publisher: "7e9f3826-0922-4d7d-98c4-23c07da9ab3f", doNotHash: false, doNotCopy: false, hashAddressBar: false});
	body
		div.user
			h3(align= 'right') Welcome! 
				a(href='../profile') #{user} &nbsp &nbsp &nbsp
		div.header
			h1 #{park.Name}
		div.body
			div.block
				h3 Location: &nbsp #{park.StreetNumber} , &nbsp #{park.StreetName}
				h3 Neighbourhood: &nbsp #{park.Neighbourhood.NeighbourhoodName}
				h3 Hectare: &nbsp #{park.Hectare}
				h3 Facilities:
				if park.Facilities.Facility
					if  park.Facilities.Facility.FacilityType
						li
							h3 #{park.Facilities.Facility.FacilityType}
					else 
						each facility in park.Facilities.Facility
							li
								h3 #{facility.FacilityType}
				//if park.Facilities.Washroom.Location != ""
					li
						h3 Washroom
				span(class='st_facebook_hcount' displayText='Facebook')
			if isVisited
				div.block
					h2 You have visited this park!
			else
				div.block
					h2 Mark this park as VISITED!
					form(action='/park/' + id + '/mark', method='POST')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Mark
			each comment in park.Comments
				div.comment-header
						p(align="right") #{comment.By} &nbsp &nbsp 
				div.comment
					p #{comment.CommentString}
			div.comment-box
				form(action='/park/' + id + '/comment', method='POST')
					textarea(type='text', name='comment', class='comment-input', placeholder='What are your thoughts?',required)
					button(class='btn btn-lg btn-primary btn-block', type='submit') Comment

			


